<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <span>{{post.post_title}}</span>
            </div>
            <div class="meta">
                Created by {{post.user.username}} on
                {{post.created_at}}
                |
                <a href="/post/{{post.id}}">{{post.comment.legnth}} comment(s)</a>
            </div>
        </article>
    </li>
    {{/each}}
</ol>